{% extends 'base_facture.html.twig' %}

{% block title %}Edition facture{% endblock %}

{% block body %}
    <table class="table mt-3">
        <thead class="txt-white">
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Email</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.client.nom }}</td>
                <td>{{ user.client.prenom }}</td>
                <td>{{ user.client.phone }}</td>
                <td>{{ user.email }}</td>
                
            </tr>
        </tbody>
        <tfoot class="txt-white">
            <tr>
                <td colspan="3" class="text-right"></td>
                <td></td>
                <td>
                </td>
            </tr>
        </tfoot>
    </table>

{% if items | length > 0 %}
    <table class="table mt-3">
        <thead class="txt-white">
            <tr>
                <th>Produit</th>
                <th>Taille</th>
                <th>Couleur</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                 <tr>
                    <td><a href="{{ path('show_produit', {'id': item.produit.id}) }}">
                    <img class="img-fluid rounded" src="{{ item.produit.image }}" alt="Image de {{ item.produit.titre }}" width="50" height=auto>
                {{ item.produit.titre }} <a/> </td>
            <td>{% if item.produit.taille %} {{ item.produit.taille }} {% endif %}</td>
            <td>{% if item.produit.couleur %} {{ item.produit.couleur }}{% endif %}</td>
                    <td>
                        {% if item.produit.promo %}
                            <del>{{ item.produit.prix | number_format(0, ',', ' ')}} €</del> - 
                            {{ item.produit.promo }} % = {{ item.produit.getPrixpromo | number_format(0, ',', ' ')}} €
                        {% else %}
                            {{ item.produit.prix | number_format(0, ',', ' ')}} €
                        {% endif %}
                    </td>

                    <td>{{ item.quantité }}</td>
                    <td>{{ item.produit.getPrixpromo * item.quantité  | number_format(0, ',', ' ')}} €</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot class="txt-white">
            <tr>
                <td></td>
                
            <td></td><td colspan="3" class="text-right">Total : </td>
                <td>{{ total  | number_format(0, ',', ' ')}}</td> 
            </tr>
        </tfoot>
    </table>
    Point de retrait :
    <table class="table mt-3">
    <thead class="txt-white">
            <tr>
                <th>Tournée </th>
                <th>Ville</th>
                <th>Adresse</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ concert.tournee }}</td>
            <td>{{ concert.ville }}</td>
            <td>{{ concert.adresse }}</td>
            <td>{{ concert.date | date('d/m/Y') }}</td>
        </tr>
    <tfoot class="txt-white">
    <tr>
        <td></td>
        <td></td>
        <td colspan="3" class="text-right"></td>
        <td><a href="{{ path('panier_facture_download')}}" class="btn btn-danger btn-sm">Valider votre commande</a>
        </td>
    </tr>
</tfoot>
    </tbody>
</table>
{% else %}
<p>Désolé, Panier vide !!</p> 
{% endif %}



{% endblock %}
