{{ form_start(form) }}
{{ form_row(form.q,  {'attr': {'class': 'box-black bg-white txt-black mt-2' }}) }}
<h4 class="txt-white">Catégories</h4>
{{ form_row(form.category,  {'attr': {'class': 'txt-white' }}) }}
<h4 class="txt-white">Prix</h4>
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.min,  {'attr': {'class': 'box-black bg-white txt-black' }}) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.max,  {'attr': {'class': 'box-black bg-white txt-black' }}) }}
    </div>
</div>
<h4 class="txt-white">Promotions</h4>
{{ form_row(form.promo,  {'attr': {'class': 'txt-white' }}) }}
<button type="submit" class="btn bg-primary w-100 box-black txt-white">Filtrer</button>
{{ form_end(form) }}